/* Gaya untuk Navigasi */
body {
    font-family: monospace, fantasy;
    margin: 0;
    padding: 0;
    background-color: #1e1e2e;
}

.main-title {
    font-style: normal;
    font-size: 48px;
    /* Ukuran font besar */
    font-weight: bold;
    text-align: center;
    /* Memastikan teks selalu di tengah */
    margin: 30px;
    color: white;
    text-shadow: 2px 2px 5px rgb(172, 152, 216);
}

/* Gaya untuk Game Review Section */

.game-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* Memberikan jarak antara game-card */
    justify-content: flex-start;
}

.game-grid,
.community-section h2 {
    color: white;
}

.review-section {
    padding: 20px;
    background-color: #3d3d5d;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    /* Menambahkan flexbox pada review section */
    flex-wrap: wrap;
    /* Memungkinkan elemen untuk pindah baris */
    gap: 20px;
    /* Jarak antar elemen */
    justify-content: space-evenly;
    /* Memastikan elemen dimulai dari kiri */
}

.review-section h2 {
    width: 100%;
    /* Membuat judul mengambil seluruh lebar kontainer */
    text-align: left;
    /* Memastikan judul berada di kiri */
    margin-bottom: none;
    /* Menambahkan jarak antara judul dan game card */

}

.game-card {
    background-color: #e6e6ef;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 250px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-cover {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.game-title {
    font-size: 18px;
    color: black;
    margin: 10px 0;
}

.game-title h2 {
    text-align: center;
}

.game-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}


/* Gaya untuk Komunitas Section */
.community-section {
    padding: 20px;
    background-color: #3d3d5d;
    margin: 20px;
    border-radius: 5px;
}

.community-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    /* Memastikan elemen dimulai dari kiri */
}

.community-card {
    background-color: #e6e6ef;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 250px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden;
}

.community-card:hover {
    transform: scale(1.05);
}

.community-cover {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.community-title {
    font-size: 17px;
    color: black;
    margin: 10px 0;
}
.community-title h2 {
    color: black;
}

/* Gaya untuk Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1c1c29;
    color: white;
    margin-top: 20px;
}

/* Gaya untuk Tombol See All */
.see-all {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.banner {
    background-image: url("banner2.jpeg");
    background-size: cover;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* overlay */
    z-index: 0;
}

.banner h1 {
    font-size: 48px;
    font-style: bold;
    z-index: 1;
    color: #f0c040;
}

.banner h2 {
    font-size: 40px;
    z-index: 1;
    color: #f0c040;
}

.banner p {
    font-size: 20px;
    margin: 20px 0;
    z-index: 1;
    max-width: 800px;
    color: #fff;
}